@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
  margin: 0;
  font-family: "Heebo";
  color: #272727;
}

body{
  background-color: aquamarine;
}



.navbar__optionBasket{
  display: flex;
  align-items: center;
  float: right;
}

.navbar__basketCount{
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.navbar {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: rgb(43, 204, 123);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #4d4c4c;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}