body { 
    padding-top: 50%px; /*dont touxch*/
}

h1{
    color: #3194b3;
}



#availabilities::before {
    color: #3194b3;
    content: " ";
    display: block;
    height: 7em;
    margin-top: -7em;
    visibility: hidden;
}
#dentists::before {
    color: #3194b3;
    content: " ";
    display: block;
    height: 7em;
    margin-top: -7em;
    visibility: hidden;
}
#treatments::before {
    color: #3194b3;
    content: " ";
    display: block;
    height: 7em;
    margin-top: -7em;
    visibility: hidden;
}
#bookings::before {
    color: #3194b3;
    content: " ";
    display: block;
    height: 7em;
    margin-top: -7em;
    visibility: hidden;

}
#about::before {
    color: #3194b3;
    content: " ";
    display: inline-block;
    height: 12em;
    margin-top: -7em;
    visibility: hidden;
}


h3 {
    color: #3194b3;
    font-size: 20px;
}

h5 {
    margin-top: 0px;
    font-weight: 600;
    color: #353535;
}
td{
    font-size: 20px;
}
p{
    font-size: 18px;
}
i {
    margin-right: 5px;
}


.accordion{
    margin: 60px;
}

.navbar {
    margin-bottom: 0 !important;
    border: 0 !important;
}
.navbar-collapse {
    justify-content: flex-end;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3194b3;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover {
    background-color: #373d42;
    color: white;
    transition: 0.5s;
}
.nav-item {
    margin-right: 2em !important;
}
.nav-item:hover {
    background-color: #929292;
}

.form-container {
    position: absolute;
    right: 3;
    margin: 25px;
    max-width: 250px;
    padding: 15px;
    background-color: white;
    margin-right: 50px;
    display: inline-block;
}

.container {
    text-align: center;
    color: white;
}

.welcome-txt {
    margin: 100px;
    text-align: center;
}
.form-group {
    margin-bottom: 12px;
}

.padding {
    padding: 0rem !important;
    margin-left: 0;
    margin-right: 0;
}

.crop {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
