/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

h1{
  font-size: 350%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h3{
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 170%;
}

body{
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #ececec;
}

div.tabcontent{

  margin-bottom: auto;

}

#DorP{
  position: relative;
  font-family: Arial;
}

.DorP{
  text-align: center;
  border: 2px solid rgb(46, 46, 46)

}

.tablinks{

  color: aliceblue;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 175%;

}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(119, 162, 211);
  background-color: #1c95ce;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(174, 202, 214);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(212, 222, 233);
}

/* Style the tab content */
.tabcontent {
  text-align: center;
  display: none;
  padding: 12px 12px;
  border: 1px solid rgb(181, 205, 228);
  border-top: none;
  font-size: 150%;
  border: 2px solid black
}

.walmart{
  border: 5px outset rgb(34, 34, 34);
  background-color: lightblue;    
  text-align: center;
}

.block{
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #ffffff; 
  border: none;
  color: rgb(37, 110, 179);
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}